/* Variables */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --corn-flower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Header Styles */
header {
  background-color: var(--white);
  padding: 20px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--grey);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--ocean);
}

.nav-link:focus {
  color: var(--ocean);
}

address {
  font-style: normal;
}

.contact-links {
  list-style: none;
}
.contact-links li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-link {
  text-decoration: none;
}

.contact-link:hover,
:focus {
  color: var(--ocean);
}

#hero-section {
  background-color: var(--grey);
}
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin-right: 20px;
  font-weight: 500;
} */

/* Main Styles */

/* Hero Section Styles */

/* Footer Styles */

/* Responsive Styles */
/* @media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 10px;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
} */
